<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Theme color for browser tab-->
    <meta name="theme-color" content="#66b86a">
    <!--Favicon-->
    <link rel="icon" sizes="192x192" href="/assets/img/hamburger2.png">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>

<body>
    {{{ body }}}

    <footer class="mt-auto">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/burgers">API Burgers List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/noel3740/burger" target="_blank">Github Repo</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>